{% extends "orders/base.html" %}

{% block head %}
  {% load static %}
  <link rel="stylesheet" href="{% static "cartview.css" %}">

  <script id="cartitems" type="text/x-handlebars-template">
    {% verbatim %}
      <table>
        <tr>
          <th>Item</th>
          <th>Options</th>
          <th>Qty</th>
          <th>Cost</th>
        </tr>
        {{#each items}}
          <tr>
            <td class="product">{{this.product}}</td>
            <td class="options">{{this.options}}</td>
            <td class="quantity">
              <form class="update-qty">
                <input type="submit" class="update" style="visibility: hidden" value="Update">
                <input type="number" name="qty" class="qty" min="0" data-qty="{{this.quantity}}" value="{{this.quantity}}">
                <input type="hidden" name="id" value="{{this.id}}">
              </form>
            </td>
            <td class="price">{{this.total}}</td>
          </tr>
        {{/each}}
        <tr>
          <td colspan="3">TOTAL</td>
          <td id="carttotal">{{total}}</td>
        </tr>
      </table>
      <button id="checkout">Checkout</button>
    {% endverbatim %}
  </script>

  <script id="cartempty" type="text/x-handlebars-template">
    <span id="empty">Your shopping cart is empty</span>
  </script>

  <script src="{% static "cartview.js" %}"></script>
  
{% endblock %}

{% block body %}
<h2 id="carttitle">Shopping Cart</h2>
<div id="cartcontent">
</div>
{% endblock %}
