{% extends "orders/base_order.html" %}

{% block headextend %}
  {% load static %}
  <link rel="stylesheet" href="{% static "cartview.css" %}">

  <script id="checkout" type="text/x-handlebars-template">
    <button id="checkoutbtn">Checkout</button>
  </script>

  <script id="cartempty" type="text/x-handlebars-template">
    <span id="empty">Your shopping cart is empty</span>
  </script>

  <script src="{% static "cartview.js" %}"></script>
{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Shopping cart</li>
  </ol>
</nav>
<h2 id="carttitle">Shopping Cart</h2>
<div id="cartcontent">
</div>
{% endblock %}
