{% extends "orders/base.html" %}

{% block head %}
  {% load static %}
  <link rel="stylesheet" href="{% static "menu.css" %}">

  <script id="menutab" type="text/x-handlebars-template">
    {% verbatim %}
      <a class="nav-item nav-link" value="{{ name }}" href="#">{{ name }}</a>
    {% endverbatim %}
  </script>

  <script id="menudetail" type="text/x-handlebars-template">
    {% verbatim %}
      <div class="tab-detail" value="{{ name }}">
        <h3>{{ name }}</h3>
      </div>
    {% endverbatim %}
  </script>

  <script src="{% static "menu.js" %}"></script>

{% endblock %}

{% block body %}
  <nav class="nav nav-pills nav-fill" id="tabs">
  </nav>
  <div id="tabs-detail">
  </div>
{% endblock %}
