{% extends "orders/base.html" %}

{% block head %}
  {% load static %}
  <link rel="stylesheet" href="{% static "menu.css" %}">

  <script id="menutab" type="text/x-handlebars-template">
    {% verbatim %}
      <a class="nav-item nav-link" value="{{ name }}" href="#">{{ name }}</a>
    {% endverbatim %}
  </script>

  <script id="menudetail" type="text/x-handlebars-template">
    {% verbatim %}
      <div class="tab-detail" value="{{ name }}">
        {{#each items}}
          <a href="#" class="menu-link" value="{{@root.name}}-{{this.name}}">{{ this.name }}</a>
          {{#if this.price}}
            <span class="menu-price">{{ this.price }}</span><br>
          {{else}}
            <span class="menu-price">from {{ this.price0 }}</span><br>
          {{/if}}
          <div class="menu-detail" value="{{@root.name}}-{{this.name}}" style="display:none">
          </div>
        {{/each}}
      </div>
    {% endverbatim %}
  </script>

  <script id="itemdetail" type="text/x-handlebars-template">
    {% verbatim %}
      <p class="menu-description">{{ description }}</p>
      {{#if options}}
        <span class="options-title">{{ options.title }}</span>
        {{#each options.names}}
          <input type="checkbox" class="item-option" name="{{ this }}" value="{{ this }}">
          <label for="{{ this }}">{{ this }}</label><br>
        {{/each}}
      {{/if}}
    {% endverbatim %}
  </script>

  <script src="{% static "menu.js" %}"></script>
  
{% endblock %}

{% block body %}
  <nav class="nav nav-pills nav-fill" id="tabs">
  </nav>
  <div id="tabs-detail">
  </div>
{% endblock %}
